# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/webmyqog/api"
PassengerBaseURI "/"
PassengerPython "/home/webmyqog/virtualenv/api/3.10/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
